@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --font-color: #DAFFEA;
    --pointsub-color: #648B88;
    --point-color: #76FFAF;
    --back-color: #1E1E1E;
    --white-color: #fff;
}

.wrap {
    width: 100%;
    background: var(--back-color);
    /* overflow-x: hidden; */
}

.inner {
    width: 1500px;
    /* height: 100vh; */
    margin: 0 auto;
}

.minner {
    width: 1690px;
    margin: 0 auto;
}

.maininner {
    width: 1800px;
    margin: 0 auto;
}


/* 스크롤바 전체 영역 */

::-webkit-scrollbar {
    width: 12px;
    /* 세로 스크롤바 너비 */
    height: 12px;
    /* 가로 스크롤바 높이 */
}


/* 스크롤바 트랙 (배경) */

::-webkit-scrollbar-track {
    background: #1E1E1E;
    /* 배경 색 */
}


/* 스크롤바 핸들(움직이는 부분) */

::-webkit-scrollbar-thumb {
    background-color: #76FFAF;
    /* 너가 쓰는 포인트 컬러 */
    border-radius: 10px;
    border: 2px solid #1E1E1E;
    /* 트랙과 thumb 사이 공간 */
}


/* 마우스 hover 시 thumb 색상 */

::-webkit-scrollbar-thumb:hover {
    background-color: #63e6a4;
}

canvas {
    display: block;
    width: 100%;
}

#bg_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


/*  */

#pet {
    width: 10px;
    height: 10px;
    background-color: var(--point-color);
    box-shadow: 0 0 10px var(--pointsub-color);
    filter: blur(5%);
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    animation: flicker 1s infinite;
}

.content {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url('firefly.png');
    background-size: cover;
    animation: flicker 2s infinite;
    cursor: none;
}

@keyframes flicker {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.circle {
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #333;
}

.circle canvas {
    position: absolute;
    left: 0;
    top: 0;
}


/*  */


/*  */

.txt_back {
    width: 100%;
    height: 3207px;
    background-image: url(../img/back_txtw.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 또는 contain, 상황에 따라 */
    background-position: center;
    position: relative;
}

.txt_back svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    /*  */
}

#line {
    position: relative;
    z-index: 10;
}

.path_d {
    fill: none;
    position: relative;
    stroke: #76FFAF;
    stroke-width: 3px;
    stroke-dasharray: 3074;
    stroke-dashoffset: 3074;
    filter: drop-shadow(0 0 6px #76FFAF) drop-shadow(0 0 12px #76FFAF) drop-shadow(0 0 18px #76FFAF);
}

#star_l {
    position: absolute;
    top: 0;
    left: 50%;
    width: 5%;
    z-index: 10;
    transform: translateX(-50%);
}

.txt_d {
    height: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* 필요함 */
    z-index: 10;
    /* scrolls보다 위로 */
}

.txt_d li:nth-child(1) {
    color: var(--pointsub-color);
    font-size: 80px;
    font-family: "Noto Serif KR", serif;
    padding-left: 80px;
    /*     padding-top: 855px; */
    font-weight: 900;
    line-height: 120px;
}

.txt_d li:nth-child(2) {
    color: var(--pointsub-color);
    font-size: 70px;
    font-family: "Noto Serif KR", serif;
    padding-left: 1127px;
    padding-top: 354px;
    line-height: 120px;
    font-weight: 200;
}

.txt_d li:nth-child(2) span {
    color: var(--font-color);
}

.txt_d li:nth-child(3) {
    color: var(--pointsub-color);
    font-size: 120px;
    font-family: "Noto Serif KR", serif;
    padding-left: 95px;
    font-weight: 400;
    padding-top: 266px;
}

.txt_d li:nth-child(3) span {
    font-weight: 600;
    color: var(--font-color);
    opacity: 0.5;
}

.txt_d li:nth-child(4) {
    color: var(--font-color);
    font-size: 120px;
    font-family: "Noto Serif KR", serif;
    padding-left: 1132px;
    padding-top: 368px;
    font-weight: 500;
    opacity: 0.6;
}

.txt_d li:nth-child(5) {
    color: var(--pointsub-color);
    font-size: 70px;
    font-family: "Noto Serif KR", serif;
    padding-left: 95px;
    line-height: 120px;
    padding-top: 100px;
    font-weight: 200;
}

.txt_d li:nth-child(5) span {
    color: var(--font-color);
    font-weight: 600;
}

.scrolls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
    /* 텍스트보다 아래로! */
}

.grass1 {
    opacity: 0.5;
    /* 0(투명) ~ 1(불투명) 사이 값 */
}

.grass2 {
    opacity: 0.8;
}


/* .star_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    pointer-events: none;
} */


/* home */

.minner .home_main {
    width: 100vh;
    /* background: var(--back-color); */
    /* background: #ccc; */
    /*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
    gap: 40px; */
}

.home_main {
    position: relative;
    z-index: 0;
    height: 100%;
}

.home_main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/main_g1.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.nav-container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    width: 1080px;
    margin: 0 auto;
}

.nav-container .bg {
    content: '';
    display: block;
    border-radius: 999px;
    width: 250px;
    height: 40%;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 75%;
    transform: translateY(-50%);
    transition: .2s;
    margin-left: 10px;
}

.nav-tabs {
    background: #ffffff;
    display: flex;
    padding: 10px;
    list-style: none;
    gap: 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.nav-tabs .tab {
    padding: 12px 24px;
    border-radius: 999px;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    width: 250px;
    text-align: center;
    position: relative;
}

.nav-tabs .tab.active {
    border-radius: 50px;
    /* background: #1E1E1E; */
    /*    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    color: #63E6A4;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
}

.contents article {
    display: none;
    /* height: 90vh; */
}

.contents article.active {
    display: flex;
}

.c_home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.c_home .web_cards ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c_home .web_cards ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 819px;
    height: 700px;
    position: relative;
    /* background: pink; */
    /*     border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.c_home .web_cards ul li img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.c_home .web_cards ul li:hover img {
    opacity: .8;
}

.web_cards .swiper-slide img {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    display: flex;
}

.c_home .web_cards ul li a.visit_btn {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background: #63E6A4;
    color: var(--back-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.c_home .web_cards ul li:hover a.visit_btn {
    opacity: 1;
}

.c_home .web_cards ul li a {
    display: flex;
}

.c_home .web_cards ul li a.label {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    background: #63E6A4;
    color: var(--back-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.c_home .web_cards ul li:hover a.label {
    /* display: flex; */
    opacity: 1;
}


/* Hover 시 Glow 효과 */

.web_cards .swiper-slide img:hover {
    box-shadow: 0 0 15px var(--point-color);
    /* 푸른빛 Glow */
    transform: scale(1.03);
    /* 약간 확대 */
}

.swiper-slide {
    opacity: 0.5;
    transition: opacity 0.4s ease;
}

.swiper-slide-next {
    opacity: 1 !important;
}

/* team */
.c_home .main_cards ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c_home .main_cards ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 819px;
    height: 700px;
    position: relative;
    /* background: pink; */
    /*     border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.c_home .main_cards ul li img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.c_home .main_cards ul li:hover img {
    opacity: .8;
}

.main_cards .swiper-slide img {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
    display: flex;
}

.c_home .main_cards ul li a.visit_btn {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background: #63E6A4;
    color: var(--back-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.c_home .main_cards ul li:hover a.visit_btn {
    opacity: 1;
}

.c_home .main_cards ul li a {
    display: flex;
}

.c_home .main_cards ul li a.label {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    background: #63E6A4;
    color: var(--back-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.c_home .main_cards ul li:hover a.label {
    /* display: flex; */
    opacity: 1;
}


/* Hover 시 Glow 효과 */

.main_cards .swiper-slide img:hover {
    box-shadow: 0 0 15px var(--point-color);
    /* 푸른빛 Glow */
    transform: scale(1.03);
    /* 약간 확대 */
}
/* //.team */
/* projects */

.c_projects {
    background: var(--back-color);
    width: 100%;
}

.big_box {
    display: flex;
    margin-top: 235px;
    /* background: #ccc; */
}

.left_box {
    position: sticky;
    /* background: blue; */
    top: 0;
    margin-right: 100px;
    height: 100%;
}

.left_box .onclick {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.left_box .onclick li {
    cursor: pointer;
}


/*  */

.left_box .onclick li:hover {}


/*  */

.right_box {
    width: 100%;
    /* height: 100%; */
    /*     background: #f2f2f2; */
}

.right_box .box.on {
    display: flex;
}

.right_box .box {
    width: 100%;
    /* height: 100%; */
    display: none;
    flex-direction: column;
    gap: 200px;
    margin-bottom: 335px;
}

.right_box .box li img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* aboutme */


/* txt애니메이션 */

.txtanibox {
    /*     width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex; */
    margin-top: 104px;
    /* width: 100%; */
    /* overflow: hidden; */
    /* display: flex; */
    width: 100%;
    height: 20vh;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-content: center;
    /*     align-items: center;
    justify-content: flex-start; */
}

.simply-scroll {
    width: 100%;
}

.simply-scroll .simply-scroll-clip {
    overflow: hidden;
    width: 100%;
}

.txtanibox #txtani {
    width: 100%;
    display: flex;
    transform-origin: left center;
    white-space: nowrap;
}

.txtanibox #txtani li {
    /* display: flex; */
    font-size: 100px;
    font-weight: 500;
    font-family: "Noto Serif KR", serif;
    /* align-items: center; */
    color: var(--point-color);
    margin-right: 80px;
    /* min-width: 600px;  */
}


/* 내용 */

.c_aboutme {
    width: 100%;
    /* overflow: hidden; */
}

.about_big {
    width: 100%;
    /* display: block; */
}

.about_box {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 102px;
    position: relative;
}

.about_box .left {
    padding-top: 100px;
}

.about_box .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.about_box .left,
.about_box .right {
    width: 50%;
}

.about_box .right .top {
    width: 816px;
    height: 387px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px;
    margin-bottom: 52px;
}

.about_box .right .top .txt1 {
    padding-left: 56px;
    padding-top: 55px;
    flex-direction: column;
}

.about_box .right .top h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
    padding-bottom: 28px;
}

.about_box .right .top h2 span {
    font-size: 40px;
    font-weight: 500;
    color: var(--point-color);
    font-family: "Noto Serif KR", serif;
}

.about_box .right .top p {
    font-size: 20px;
    font-weight: 300px;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
    padding-bottom: 40px;
    line-height: 34px;
}

.school {
    flex-direction: column;
    padding-left: 56px;
}

.school .s1 {
    display: flex;
    gap: 50px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 200;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.school .s2 {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 200;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.school li:last-child {
    color: rgba(255, 255, 255, 0.70);
}

.bottom {
    width: 816px;
    height: 367px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px;
}

.bottom .txt_box {
    display: flex;
    padding-top: 53px;
    justify-content: center;
}

.bottom .txt_box .a li {
    color: var(--font-color);
    line-height: 40px;
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: 400;
}

.bottom .txt_box .b {
    padding-left: 70px;
}

.bottom .txt_box .b li {
    color: rgba(255, 255, 255, 0.70);
    line-height: 40px;
    font-family: "Noto Serif KR", serif;
    font-size: 18px;
    font-weight: 200;
}

.bottom .txt_box .c {
    padding-left: 80px;
}

.bottom .txt_box .c li {
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
    line-height: 40px;
}

.bottom .txt_box .c li span {
    padding-left: 80px;
    color: var(--point-color);
}


/* 툴 */

.tool_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    box-shadow: 0px 0.033px 0.033px 0px rgba(255, 255, 255, 0.50) inset;
}


/* 툴 */

.tool_box .tool1 img {
    align-content: center;
}

.tool_box .tool1,
.tool_box .tool2,
.tool_box .tool3,
.tool_box .tool4,
.tool_box .tool5,
.tool_box .tool6,
.tool_box .tool7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.30);
    ;
    border-radius: 15px;
    box-shadow: 0px 0.033px 0.033px 0px rgba(255, 255, 255, 0.50) inset;
}

.email {
    width: 100%;
    height: 262px;
}

.email ul {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    gap: 238px;
}

.email ul li {
    font-size: 30px;
    font-weight: 500;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.thank {
    width: 100%;
    height: 639px;
    display: flex;
    justify-content: center;
    align-items: center;
}