@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --font-color: #f2f2f2;
    --pointsub-color: #B5F8D1;
    --point-color: #76FFAF;
    --back-color: #1E1E1E;
    --white-color: #fff;
}

.wrap {
    width: 100%;
    background: var(--back-color);
    /* overflow-x: hidden; */
}

.inner {
    width: 1500px;
    margin: 0 auto;
}

.minner {
    width: 1690px;
    margin: 0 auto;
}

canvas {
    display: block;
    width: 100%;
}

/*  */
.custom_cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: var(--font-color);
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: transform 0.3s ease;
    backdrop-filter: blur(5px);
}

.custom_cursor.drag {
    width: 200px;
    height: 200px;
}

/*  */
/* 화면 위쪽 제목 */
#title {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

/* 화면 아래쪽 저작권 문구 */
#footer {
    position: absolute;
    top: 250px;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 50px;
    color: var(--font-color);
    z-index: 10;
    display: flex;
    justify-content: center;
    font-family: "Noto Serif KR", serif;
    gap: 200px;
}

.circle {
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #333;
}

.circle canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/*  */
.txt_back {
    width: 100%;
    height: 5647px;
    background-image: url(../img/back_txtw.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 또는 contain, 상황에 따라 */
    background-position: center;
    position: relative;
}

.txt_back svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    /*  */
}

#line {
    position: relative;
}

.path_d {
    fill: none;
    position: relative;
    stroke: #ffffff;
    stroke-width: 3px;
    stroke-dasharray: 5407;
    stroke-dashoffset: 5407;
    filter:
        drop-shadow(0 0 6px #ffffff) drop-shadow(0 0 12px #ffffff) drop-shadow(0 0 18px #ffffff);
}

#star_l {
    position: absolute;
    top: 0;
    left: 50%;
    width: 5%;
    z-index: 10;
    transform: translateX(-50%);
}


.txt_d {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.txt_d li:nth-child(1) {
    color: var(--point-color);
    font-size: 500px;
    font-family: "Noto Serif KR", serif;
    padding-left: 380px;
    padding-bottom: 250px;
    padding-top: 855px;
    font-weight: 900;
}

.txt_d li:nth-child(2) {
    color: var(--pointsub-color);
    font-size: 200px;
    font-family: "Noto Serif KR", serif;
    padding-right: 406px;
    padding-bottom: 450px;
    line-height: 200px;
    font-weight: 900;
}

.txt_d li:nth-child(3) {
    color: var(--point-color);
    font-size: 600px;
    font-family: "Noto Serif KR", serif;
    padding-left: 522px;
    padding-bottom: 235px;
    font-weight: 900;
}

.txt_d li:nth-child(4) {
    color: var(--pointsub-color);
    font-size: 800px;
    font-family: "Noto Serif KR", serif;
    padding-right: 22px;
    font-weight: 900;
}

.txt_d li:nth-child(5) {
    color: var(--point-color);
    font-size: 200px;
    font-family: "Noto Serif KR", serif;
    padding-right: 267px;
    padding-top: 344px;
    font-weight: 900;
}

.star_bg {
    position: absolute;
    bottom: 0;
}


/* home */
.minner .home_main {
    width: 100%;
    /* background: var(--back-color); */
    /* background: #ccc; */
    /*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
    gap: 40px; */

}

.nav-container {
    display: flex;
    /* justify-content: center; */
    margin-top: 40px;
    position: relative;
    width: 810px;
    margin: 0 auto;
}

.nav-container .bg {
    content: '';
    display: block;
    border-radius: 999px;
    width: 250px;
    height: 80%;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}

.nav-tabs {
    background: #ffffff;
    display: flex;
    padding: 10px;
    list-style: none;
    gap: 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;

}

.nav-tabs .tab {
    padding: 12px 24px;
    border-radius: 999px;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    width: 250px;
    text-align: center;
    position: relative;
}


.nav-tabs .tab.active {
    border-radius: 50px;
    /* background: #1E1E1E; */
    /*    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    color: #63E6A4;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
}

.contents article {
    display: none;
}

.contents article.active {
    display: flex;
    width: 100%;
}

.c_home {
    width: 100%;
    height: 90vh;
    /*     background: #76FFAF; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.c_home .web_cards ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.c_home .web_cards ul li {
    align-items: center;
    justify-content: center;
    width: 819px;
    height: 463px;
    /* background: pink; */
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-slide {
    opacity: 0.5;
    transition: opacity 0.4s ease;
}

.swiper-slide-next {
    opacity: 1 !important;
}



/* projects */
.c_projects {
    /* background: #ddd; */
}

.big_box {
    display: flex;
    margin-top: 235px;
    /* background: #ccc; */
}

.left_box {
    position: sticky;
    /* background: blue; */
    top: 0;
    margin-right: 100px;
    height: 100%;
}

.left_box .onclick {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.left_box .onclick li {
    cursor: pointer;
}

/*  */

.left_box .onclick li:hover {}

/*  */
.right_box {
    width: 100%;
    /* height: 100%; */
    /*     background: #f2f2f2; */
}

.right_box .box.on {
    display: flex;
}

.right_box .box {
    width: 100%;
    /* height: 100%; */
    display: none;
    flex-direction: column;
    gap: 200px;
    margin-bottom: 335px;
}

.right_box .box li img {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* aboutme */
/* txt애니메이션 */
.txtanibox {
    /*     width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex; */
    margin-top: 104px;
    /* width: 100%; */
    /* overflow: hidden; */
    /* display: flex; */
    width: 100%;
    height: 20vh;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-content: center;
    /*     align-items: center;
    justify-content: flex-start; */
}

.simply-scroll {
    width: 100%;
}

.simply-scroll .simply-scroll-clip {
    overflow: hidden;
    width: 100%;
}

.txtanibox #txtani {
    width: 100%;
    display: flex;
    transform-origin: left center;
    white-space: nowrap;
}

.txtanibox #txtani li {
    /* display: flex; */
    font-size: 100px;
    font-weight: 500;
    font-family: "Noto Serif KR", serif;
    /* align-items: center; */
    color: var(--point-color);
    margin-right: 80px;
    /* min-width: 600px;  */
}

/* 내용 */
.c_aboutme {
    width: 100%;
    /* overflow: hidden; */
}

.about_big {
    width: 100%;
    /* display: block; */
}

.about_box {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 102px;
    position: relative;
}

.about_box .left {
    padding-top: 100px;
}

.about_box .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.about_box .left,
.about_box .right {
    width: 50%;
}

.about_box .right .top {
    width: 816px;
    height: 387px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px;
    margin-bottom: 52px;
}

.about_box .right .top .txt1 {
    padding-left: 56px;
    padding-top: 55px;
    flex-direction: column;
}

.about_box .right .top h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
    padding-bottom: 28px;
}

.about_box .right .top h2 span {
    font-size: 40px;
    font-weight: 500;
    color: var(--point-color);
    font-family: "Noto Serif KR", serif;
}

.about_box .right .top p {
    font-size: 20px;
    font-weight: 300px;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
    padding-bottom: 40px;
    line-height: 34px;
}

.school {
    flex-direction: column;
    padding-left: 56px;
}

.school .s1 {
    display: flex;
    gap: 50px;
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 200;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.school .s2 {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 200;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.school li:last-child {
    color: rgba(255, 255, 255, 0.70);
}

.bottom {
    width: 816px;
    height: 367px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 4px 0px;
}

.bottom .txt_box {
    display: flex;
    padding-top: 53px;
    justify-content: center;
}

.bottom .txt_box .a li {
    color: var(--font-color);
    line-height: 40px;
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: 400;
}

.bottom .txt_box .b {
    padding-left: 70px;
}

.bottom .txt_box .b li {
    color: rgba(255, 255, 255, 0.70);
    line-height: 40px;
    font-family: "Noto Serif KR", serif;
    font-size: 18px;
    font-weight: 200;
}

.bottom .txt_box .c {
    padding-left: 80px;
}

.bottom .txt_box .c li {
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
    line-height: 40px;
}

.bottom .txt_box .c li span {
    padding-left: 80px;
    color: var(--point-color);
}

/* 툴 */
.tool_box {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    box-shadow: 0px 0.033px 0.033px 0px rgba(255, 255, 255, 0.50) inset;
}

/* 툴 */
.tool_box .tool1 img {
    align-content: center;
}

.tool_box .tool1,
.tool_box .tool2,
.tool_box .tool3,
.tool_box .tool4,
.tool_box .tool5,
.tool_box .tool6,
.tool_box .tool7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.30);
    ;
    border-radius: 15px;
    box-shadow: 0px 0.033px 0.033px 0px rgba(255, 255, 255, 0.50) inset;
}

.email {
    width: 100%;
    height: 262px;
}

.email ul {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    gap: 238px;
}

.email ul li {
    font-size: 30px;
    font-weight: 500;
    color: var(--font-color);
    font-family: "Noto Serif KR", serif;
}

.thank {
    width: 100%;
    height: 639px;
    display: flex;
    justify-content: center;
    align-items: center;
}