@media (max-width: 400px) {
    * {
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
    }

    .wrap {
        width: 100%;
        background: var(--back-color);
        /* overflow-x: hidden; */
    }

    .inner {
        width: 350px;
        /* height: 100vh; */
        margin: 0 auto;
    }

    .minner {
        width: 350px;
        margin: 0 auto;
    }

    .maininner {
        width: 350px;
        margin: 0 auto;
    }

    #line {
        display: none;
    }

    .path_d {
        display: none;
    }

    #star_l {
        display: none;
    }

    #pet {
        display: none;
    }

    .txt_back {
        width: 100%;
        height: 90vh;
        background-image: url(../img/back_txtw.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* 또는 contain, 상황에 따라 */
        background-position: center;
        position: relative;
    }

    .txt_d li {
        flex-shrink: 0;
    }

    .txt_d li:nth-child(1) {
        color: var(--pointsub-color);
        font-size: 15px;
        font-family: "Noto Serif KR", serif;
        padding-left: 10px;
        padding-top: 80px;
        font-weight: 900;
        line-height: 23px;
    }

    .txt_d li:nth-child(2) {
        color: var(--pointsub-color);
        font-size: 15px;
        font-family: "Noto Serif KR", serif;
        padding-left: 10px;
        padding-top: 90px;
        line-height: 23px;
        font-weight: 200;
    }

    .txt_d li:nth-child(2) span {
        color: var(--font-color);
    }

    .txt_d li:nth-child(3) {
        color: var(--pointsub-color);
        font-size: 25px;
        font-family: "Noto Serif KR", serif;
        padding-left: 50px;
        white-space: nowrap;
        font-weight: 400;
        padding-top: 80px;
    }

    .txt_d li:nth-child(3) span {
        font-weight: 600;
        color: var(--font-color);
        opacity: 0.5;
    }

    .txt_d li:nth-child(4) {
        color: var(--font-color);
        font-size: 25px;
        font-family: "Noto Serif KR", serif;
        padding-left: 180px;
        padding-top: 90px;
        font-weight: 500;
        opacity: 0.6;
    }

    .txt_d li:nth-child(5) {
        color: var(--pointsub-color);
        font-size: 15px;
        font-family: "Noto Serif KR", serif;
        padding-left: 10px;
        line-height: 23px;
        padding-top: 50px;
        font-weight: 200;
    }

    .txt_d li:nth-child(5) span {
        color: var(--font-color);
        font-weight: 600;
    }

    .grass1 {
        opacity: 0.5;
        width: 400px;
        /* 0(투명) ~ 1(불투명) 사이 값 */
    }

    .grass2 {
        opacity: 0.8;
        width: 500px;
        padding-top: 50px;
    }

    /* 홈 */
    .minner .home_main {
        width: 100%;
    }

    .home_main {
        position: relative;
        z-index: 0;
        height: 100%;
    }

    .home_main::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(../img/main_g1.png);
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
    }

    .nav-container {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        position: relative;
        width: 320px;
        /*  margin: 0 auto; */
    }

    .nav-container .bg {
        content: '';
        display: block;
        border-radius: 999px;
        width: 100px;
        height: 40%;
        background: #1E1E1E;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 0;
        top: 70%;
        transform: translateY(-35%);
        transition: .2s;
        /*  margin-left: 10px; */
    }

    .nav-tabs {
        width: 320px;
        height: 50px;
        background: #ffffff;
        display: flex;
        /* padding: 10px; */
        list-style: none;
        /*   gap: 15px; */
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.30);
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
    }

    .nav-tabs .tab {
        padding: 10px 10px;
        border-radius: 999px;
        color: var(--font-color);
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        width: 250px;
        text-align: center;
        position: relative;
        white-space: nowrap;
    }

    .nav-tabs .tab.active {
        border-radius: 50px;
        color: #63E6A4;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
    }

    /* 홈 카드 */
    .contents article {
        display: none;
        /* height: 90vh; */
    }

    .contents article.active {
        display: flex;
    }

    .c_home {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .c_home .web_cards ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .c_home .web_cards ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 380px;
        height: 400px;
        position: relative;
        /* background: pink; */
        /*     border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    }

    .c_home .web_cards ul li img {
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 250px;
    }

    .web_cards .swiper-slide img {
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        border-radius: 8px;
        display: flex;
    }

    .c_home .web_cards ul li a.visit_btn {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        background: #63E6A4;
        color: var(--back-color);
        width: 100px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c_home .web_cards ul li a {
        display: flex;
    }

    .c_home .web_cards ul li a.label {
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-50%, -50%);
        background: #63E6A4;
        color: var(--back-color);
        width: 100px;
        height: 40px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide {
        opacity: 0.5;
        transition: opacity 0.4s ease;
    }

    .swiper-slide-next {
        opacity: 1 !important;
    }

    /* 제품 */
    .c_projects {
        background: var(--back-color);
        width: 100%;
    }

    .big_box {
        display: flex;
        margin-top: 50px;
        /* background: #ccc; */
    }

    .left_box {
        position: sticky;
        /* background: blue; */
        top: 0;
        margin-right: 25px;
        height: 100%;
    }

    .left_box .onclick {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .left_box .onclick img {
        width: 50px;
    }

    .right_box {
        width: 100%;
        height: 650px;
        /* height: 100%; */
        /*     background: #f2f2f2; */
    }

    .right_box .box.on {
        display: flex;
    }

    .right_box .box {
        width: 100%;
        /* height: 100%; */
        display: none;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 335px;
    }

    .right_box .box li img {
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 230px;
    }

    /* aboutme */
    .txtanibox {
        margin-top: 50px;
        width: 100%;
        height: 10vh;
        background: rgba(255, 255, 255, 0.30);
        box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        align-content: center;
    }

    .simply-scroll {
        width: 100%;
    }

    .simply-scroll .simply-scroll-clip {
        overflow: hidden;
        width: 100%;
    }

    .txtanibox #txtani {
        width: 100%;
        display: flex;
        transform-origin: left center;
        white-space: nowrap;
    }

    .txtanibox #txtani li {
        font-size: 30px;
        font-weight: 500;
        font-family: "Noto Serif KR", serif;
        color: var(--point-color);
        margin-right: 30px;
    }
    .about_box .left img{
        width: 118px;
    }
}